<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista 1 exemplo 02</title>
</head>
<body>

         <%
    let  erroValidacao =  {"dia":""};
    let  msgErro =  {"dia":""};
    if(erros) {
         erros.errors.forEach(function(erro) {
             if (erro.path == "dia") {
                erroValidacao.dia = "erro",
                msgErro.dia = erro.msg
             }

         })
     }; %>


    <h1>Classificação de Nadadores</h1>
    
     <form method="post" action="/index">
        <label for="dia">Digiti do dia da Semana:</label>
        <input type="text" name="dia" id="dia" value="<%= valores.dia %>"class="<%= erroValidacao.dia %>">
        <span><%= msgErro.dia %></span> <br>
     </form>

    <% 
     if(resultado){
        // com dados de retorno
        %>
        <h2>Categoria: <%= resultado.semana %></h2>
        <%
     }else{
        //sem dados de retorno
        %>
            <h2>Não temos retorno</h2>
        <%
     }
    %>


</body>
</html>