<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista 1 exemplo 02</title>
</head>
<body>

    <h1>Classificação de Nadadores</h1>
    
    <form action="/semana" method="post">
        <label for="semana">Digite o dia da semana:</label> <br>
        <input type="text" name="semana" id="semana" value="<%= valores.semana %>"> <br>
        <button type="submit">classificar</button>
     </form>

    <% 
     if(resultado){
        // com dados de retorno
        %>
        <h2>Categoria: <%= resultado.semana %></h2>
        <%
     }else{
        //sem dados de retorno
        %>
            <h2>Não temos retorno</h2>
        <%
     }
    %>


</body>
</html>